body {
  background-color: #f5f5dc;
  color: #4b4b4b;
}

.disabled {
  pointer-events: none;
}

#heading-timer-container {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(211, 211, 211, 0.95);
  border-radius: 8px;
  margin-bottom: 10px;
}

#instructions-container {
  display: block;
  font-weight: 600;
}

#timer {
  color: #000;
  font-weight: 500;
}

#gridSizeSelector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(211, 211, 211, 0.95);
  color: rgb(24, 23, 23);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 100;
  width: 80%;
  max-width: 300px;
}

h2 {
  color: lightcoral;
  margin-bottom: 3px;
}

#instructions {
  margin-top: 3px;
}

#gameStatus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(211, 211, 211, 0.95);
  color: rgb(24, 23, 23);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 10;
  width: 80%;
  max-width: 300px;
}

#gameStatusContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#statusMessage {
  font-size: 1.2rem;
  font-weight: bold;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: grid;
  grid-gap: 10px;
  background-color: lightgray;
  padding: 10px;
}

button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

#newGame {
  background-color: rgba(32, 76, 237, 0.829);
  color: rgb(255, 255, 255);
}

#newGame:hover {
  background-color: rgb(32, 77, 237);
}

.grid-item {
  background-color: darkseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  padding: 20px;
  height: 65px;
  width: 50px;
}

img {
  width: 130%;
  height: 100%;
}

#reset {
  background-color: rgb(211, 211, 211, 0.861);
  color: rgb(0, 0, 0);
  margin-top: 50px;
}

#reset:hover {
  background-color: rgb(230, 43, 43);
  color: rgb(225, 225, 225);
}

@media screen and (min-width: 450px) {
  #heading-timer-container {
    width: 50vw;
    height: 50px;
  }
  .container {
    width: 60vw;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
  }

  .grid-item {
    height: 70px;
    width: 100px;
  }

  #reset {
    margin-top: 10px;
  }
}
